.home_page_content{
  height: 800px;
  padding: 50px;
  display: flex;
  background: #5C97FF;
  overflow: scroll;
  overflow-y: hidden;
}
.card{
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
  margin: 30px;
  height: 700px;
  width: 400px;
}
.card_name{
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 30px rgb(0, 0, 0);
  font-size:200%;
  margin: 0px;
  font-weight: 1000;
}
.flip-card {
  margin: 50px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; 
}
.home_page_content i{
  margin-left:90px;
  padding-top: 50px;
  text-align: center;
  font-size: 200px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.home_page_content i:hover{
 text-shadow: 0px 0px 10px rgb(0, 255, 13);
  font-weight: 700;
}

img{
  border: 1px solid #f1f1f1;
}
.back_side_points li{
  text-align: left;
}
.back_side_points li a{
  font-size: 20px;
  line-height: 30px;
  color: rgb(255, 209, 2);
}
.back_side_points li a:hover{
  color: rgb(255, 0, 0);
  font-size: 25px;
  font-weight: 900;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #5C97FF;
  color: white;
  transform: rotateY(180deg);
  height: 200%;
  box-shadow: 0px 0px 30px rgb(12, 13, 24);
  border: 10px double rgb(255, 0, 179);
}

}